.overview-section{
    .overview-content {
        p{
            font-size: 18px;
            white-space: pre-wrap;
        }
    }
}
.partner-content{
    p{
        font-size: 18px;
        line-height: 1.67;
        white-space: pre-wrap;
        color:#8c89a2;
    }
}
.position-job{
    color: rgb(48, 120, 190);
}
